body {
    margin-top: 55px;
    background: url('seascape.jpg') top center no-repeat;
    background-size: cover;
}

.navbar-brand {
    font-size: 1.8em;
}

h1 small {
    color: #ccc;
}

.cta {
    color: #008;
}

.margin-above {
    margin-top: 40px;
}

textarea#entry {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    background: url('paper.jpg') top center;
    background-size: cover;
}
